.calculator-button {
  border: none;
  background-color: #70587c;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

.calculator-button:hover {
  background-color: #502f4c;
}

.equals {
  grid-column: 3 / 5;
  background-color: #f2f6d0;
}

.equals:hover {
  background-color: #bee5bf;
}
