@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  max-height: max-content;
  width: 100%;
  max-width: 100%;
  background-color: #f9f4f5;
}
